<li>
	{{name}}

	<button class="change-eat" data-id="{{id}}" data-neweat="{{eat}}">
		{{#if eaten}}Make again!{{else}}Eat it!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Eat!</button>
</li>
