<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-neweat="{{eaten}}">
		{{#if eaten}}Eat it!{{else}}Make Again!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Delete</button>
</li>

